
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import "node_modules/font-awesome/scss/font-awesome.scss";

// Variables
$primary-bg : #50ffc1;
$secondary-bg : #2b3233;
$third-bg : #1d2124;

$break-small: 880px;
$break-large: 1200px;

.navbar-laravel {
  background-color: $primary-bg;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  color: #000;
  nav{
    float: right;
    margin-right: 25px;
    ul{
      list-style: none;
      float: right;
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        margin-left: 70px;
        position: relative;
        padding-top: 14px;
      }
      a{
        color: #000;
        font-style: normal;
        text-decoration: none;
        text-transform: uppercase;
      }
      a::before{
        content: '';
        display: block;
        height: 5px;
        width: 0;
        background-color: #000;
        top: 2px;
        position: absolute;
        transition: width ease-in-out 250ms;
        border-radius: 1px;
      }
      a:hover::before{
        width: 100%;
      }
      @media screen and (max-width: $break-small) {
        display: none;
      }
    }
    i{
      display: none;
      cursor: pointer;
      @media screen and (max-width: $break-small) {
        display: inline-block;
        font-size: 28px;
        margin-top: 12px;
      }
    }
  }
  img{
    width: 110px;
  }


}
body{
  background-color: $secondary-bg;
  color: #fff;
}

.orders-container{
  padding: 20px;
  .orders-table{
    margin: auto;

    th{
      text-align: center;
      border-bottom: 2px solid $third-bg;
      button{
        float: right;
      }
      &:nth-child(1){
        font-size: x-large;
      }
    }

    td{
      text-align: center;
      padding: 4px 0px;
    }
    tr{
      border-bottom: 1px solid $third-bg;
      &:first-child{
        height: 70px;
      }
    }
    .header{
      background-color: $third-bg;
      td{
        text-align: center;
        margin: 0 10px;
        border-left: 1px solid $third-bg;
      }
    }
  }
}

//Overwritten
.btn-primary{
  color: #000;
  background-color: $primary-bg;
  border-color: $primary-bg;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  transition: box-shadow ease-in-out 100ms;
  &:hover{
    color: #000;
    background-color: $primary-bg;
    border-color: $primary-bg;
    box-shadow: 0 0 7px 5px rgba(80, 255, 193, 0.17);
  }
}

.fa{
  margin: 0 0 0 5px;
}
